{% extends "base.html" %}

{% block app_content %}
<br>
<br>
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h1>Member Directory</h1>
      </div>

      <table cellspacing="15">
        <tr>
            <td>
                <a href="https://aimmedicare.com/">
                <img src="static/img/member/absolute.jpg" class="img-fluid" alt=""></a>
                <h4>Absolute Insurance Management</h4>
            </td>
            <td>
                <a href="https://albatranslationscpa.com/">
                <img src="static/img/member/Alba-Translations.PNG" class="img-fluid" alt=""></a>
                <h4>Alba Translations CPA</h4>
            </td>
            <td>
                <a href="https://allstarzpractice.com/">
                <img src="static/img/member/all-starz.png" class="img-fluid" alt=""></a>
                <h4>ALL STARZ</h4>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://agents.allstate.com/c-tony-cigna-lodi-nj.html?utm_source=GMB&utm_medium=Website">
                <img src="static/img/member/allstate.jpg" class="img-fluid" alt=""></a>
                <h4>Allstate Tony Cigna</h4>
            </td>
            <td>
                <a href="https://www.att.com/stores/new-jersey/lodi/175897">
                <img src="static/img/member/att-lodi1.jpg" class="img-fluid" alt=""></a>
                <h4>AT&T Lodi</h4>
            </td>
            <td>
                <a href="https://www.bcb.bank/about-bcb/lodi">
                <img src="static/img/member/bcb-bank-lodi.png" class="img-fluid" alt=""></a>
                <h4>BCB Bank Lodi</h4>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.facebook.com/pg/Beauty-by-Lala-118943046162632/posts/">
                <img src="static/img/member/Beauty-By-Lala.jpg" class="img-fluid" alt=""></a>
                <h4>Beauty By Lala</h4>
            </td>
            <td>
                <a href="https://www.bellacasafloors.com/">
                <img src="static/img/member/bella.jpg" class="img-fluid" alt=""></a>
                <h4>Bella Casa Floors</h4>
            </td>
            <td>
                <a href="https://www.bergenpsychology.com/">
                <img src="static/img/member/bergen.jpg" class="img-fluid" alt=""></a>
                <h4>Bergen Psychological Services llc</h4>
            </td>
        </tr>
    </table>

    </div>
  </section><!-- End Portfolio Section -->
  {%endblock%}