{% extends "base.html" %}

{% block app_content %}
<br>
<br>
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h1>Lodi Chamber of Commerce Gallery</h1>
        <a href="https://www.facebook.com/LodiChamberOfCommerce/"><h2>For more photos and information on events please check out and like our Facebook Page</h2></a>
      </div>

      <table>
        <tr>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-1.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-2.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-3.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-4.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-5.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-6.jpg" class="img-fluid" alt=""></a></td>
        </tr>
        <tr>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-8.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-10.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-11.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-12.jpg" class="img-fluid" alt=""></a></td>
        </tr>
        <tr>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-13.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-14.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-15.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-16.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-17.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-18.jpg" class="img-fluid" alt=""></a></td>
        </tr>
        <tr>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-19.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-21.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-22.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-23.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-24.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-25.jpg" class="img-fluid" alt=""></a></td>
        </tr>
        <tr>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-26.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-27.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-28.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-29.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-30.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-30.jpg" class="img-fluid" alt=""></a></td>
        </tr>
        <tr>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-32.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-32.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-33.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-34.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-35.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-36.jpg" class="img-fluid" alt=""></a></td>
        </tr>
        <tr>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-37.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-38.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-39.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-40.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-41.jpg" class="img-fluid" alt=""></a></td>
          <td><a href="https://www.facebook.com/LodiChamberOfCommerce/"><img src="static/img/portfolio/portfolio-42.jpg" class="img-fluid" alt=""></a></td>
        </tr>
      </table>

    </div>
  </section><!-- End Portfolio Section -->
  {%endblock%}