{% extends "base.html" %}

{% block app_content %}

<section>
    <div class="row content offset-lg-1">
        <div class="col-md-4" data-aos="fade-right">
            <img src="static/img/assets/lodi-welcome1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Borough of Lodi Links</h3>
            <ul>
              <li><a href="http://www.lodi-nj.org/content/163/3249/default.aspx"> Forms and Documents</a></li>
              <li><a href="http://www.lodi-nj.org/opra"> OPRA (Open Public Records Act</a></li>
              <li><a href="http://www.lodi-nj.org/health"> Health Department</a></li>
              <li><a href="https://lodichamberofcommerce.com/lodi-chamber-of-commerce-useful-links/"> Building Department</a></li>
              <li><a href="http://www.lodi-nj.org/zoning"> Zoning Department</a></li>
              <li><a href="http://www.lodi-nj.org/taxassessor"> Tax Assessor</a></li>
              <li><a href="http://www.lodi-nj.org/manager"> Municipal Manager</a></li>
              <li><a href="https://www.youtube.com/channel/UC1Sl8CT1BqilIkmy8VePUiQ"> Borough of Lodi YouTube Page</a></li>
              <li><a href="https://datausa.io/profile/geo/lodi-nj/"> Data USA Lodi NJ Stastics</a></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row content offset-lg-1">
        <div class="col-md-4" data-aos="fade-right">
            <img src="static/img/assets/lodi-bergen1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Bergen County Links</h3>
            <ul>
              <li><a href="http://www.bergenforbusiness.com/"> Bergen for Buisness</a></li>
              <li><a href="https://www.co.bergen.nj.us/work-with-bergen-county/economic-development"> Bergen Economic Development</a></li>
              <li><a href="https://www.co.bergen.nj.us/how-do-i/apply-for"> How Do I Apply for Forms and Information</a></li>
              <li><a href="https://www.co.bergen.nj.us/work-with-bergen-county/planning-and-engineering"> Planning and Engineering</a></li>
              <li><a href="https://www.co.bergen.nj.us/about-bergen-county/demographics"> Demographics of Bergen County</a></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row content offset-lg-1">
        <div class="col-md-4" data-aos="fade-right">
            <img src="static/img/assets/lodi-nj1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Small Business Development Center of Bergen County</h3>
            <ul>
              <li><a href="https://www.sbdcbergen.com/counseling/"> Counseling</a></li>
              <li><a href="https://www.sbdcbergen.com/training/"> Training</a></li>
              <li><a href="https://www.sbdcbergen.com/resources/"> Buisness Resources</a></li>
            </ul>
          </div>
        </div>
    </div>
</section>

{%endblock%}