{% extends "base.html" %}

{% block app_content %}
<br>
<br>
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h1>Lodi Chamber of Commerce Gallery</h1>
        <a href="https://www.facebook.com/LodiChamberOfCommerce/"><h2>For more photos and information on events please check out and like our Facebook Page</h2></a>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-wrap">
            <a href="https://aimmedicare.com/"><img src="static/img/member/absolute.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Absolute Insurance Management</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-wrap">
            <a href="https://albatranslationscpa.com/"><img src="static/img/member/Alba-Translations.PNG" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Alba Translations CPA</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-wrap">
            <a href="https://allstarzpractice.com/"><img src="static/img/member/all-starz.png" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>ALL STARZ</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item ">
          <div class="portfolio-wrap">
            <a href="https://agents.allstate.com/c-tony-cigna-lodi-nj.html?utm_source=GMB&utm_medium=Website"><img src="static/img/member/allstate.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Allstate Tony Cigna</h4>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->
  {%endblock%}