{% extends "base.html" %}

{% block app_content %}
<br>
<br>
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h1>Member Directory</h1>
      </div>
      <div class="offset-lg-4">
        <a href="https://cleanimage1.com/"><p>Clean Image</p></a>
        <a href="https://www.lafogataristorante.com/"><p>La Fogata Ristorante</p></a>
        <a href="https://www.njsbjc.org/"><p>South Bergen Jointure Commission</p></a>
        <a href="https://www.facebook.com/pg/Beauty-by-Lala-118943046162632/posts/"><p>Beauty By Lala</p></a>
        <a href="http://salumikitchen.com/"><p>Salumni Kitchen</p></a>
        <a href="https://www.mazdaoflodi.com/"><p>Mazda of Lodi</p></a>
        <a href="https://stopandshop.com/?_ppc=G%7CRET%7CBRAND%7CSTOP%26SHOP%7CNEWJERSEY&gclid=CjwKCAjw04vpBRB3EiwA0IieaqkW80qO0zakX85_-qCgNt3owXBtMV7p9KpYD4DBZFFMrD7N1sJU5RoC3q0QAvD_BwE"><p>Stop & Shop Hackensack</p></a>
        <a href="https://www.spencersavings.com/locations/lodi/"><p>Spencer Savings Bank Lodi</p></a>
        <a href="https://www.zoilaskitchen.com/"><p>Zoila's Kitchen</p></a>
        <a href="https://www.poshprincesspalace.com/"><p>Posh Princess Palace</p></a>
        <a href="https://www.lodiea.org/"><p>Lodi Education Association</p></a>
        <a href="https://www.att.com/stores/new-jersey/lodi/175897"><p>AT&T Lodi</p></a>
        <a href="https://www.bounceu.com/paramus-nj/"><p>Bounce U Paramus</p></a>
        <a href="https://www.crownhm.com/loan-officer/detail/7242/jason-wilk"><p>Jason Wilk Crown Home Mortgage</p></a>
        <a href="http://stonebrookgarden.com/"><p>Stone Brook Garden Center</p></a>
        <a href="https://www.houndstownusa.com/locations/bergen-county/"><p>Hounds Town USA Bergen</p></a>
        <a href="https://propboxplayers.wordpress.com/about/about-founder/"><p>Propbox Players</p></a>
        <a href="https://www.greatclips.com/salons/9236"><p>Great Clips Lodi</p></a>
        <a href="https://www.gsnnj.org/"><p>Girl Scouts of Northern New Jersey</p></a>
        <a href="https://www.facebook.com/americanlegionpost136lodinj/"><p>Joseph M. Lane American Legion Post 136</p></a>
        <a href="https://lodi-memorial-post-5082-veterans-of.business.site/"><p>Lodi Memorial Post 5082 V.F.W</p></a>
        <a href="https://www.bergenpsychology.com/"><p>Bergen Psychological Services llc</p></a>
        <a href="https://www.bellaquainc.com/"><p>The Water Store by Bellaqua</p></a>
        <a href="https://www.bcb.bank/about-bcb/lodi"><p>BCB Bank Lodi</p></a>
        <a href="https://agents.allstate.com/c-tony-cigna-lodi-nj.html?utm_source=GMB&utm_medium=Website"><p>Allstate Tony Cigna</p></a>
      </div>

  </section><!-- End Portfolio Section -->
  {%endblock%}